body{
    background-color: rgb(231, 234, 226);
    text-align: center;
}
p{
    color:black;
    font-size: 1.2em;
    font-family: sans-serif;
    margin:2px;
}
.contents{
    display: flex;
    flex-direction: column;
    min-width: 30em;
    max-width: fit-content;
    gap:20px;
    align-items: center;
    border-radius: 20px;
}
img{
    margin:60px 0px 30px 0px;
    width:250px;
    border-radius: 10px;
}
input{
    border:none;
    width: 20rem;
    height: 5em;
    
}
input:focus{
    border:10px;
    
    
    width: 20rem;
    height: 5em;
}
#greet{

    background-color: aqua;
    width:12rem;
    height: 3em;
    border-radius: 10px;
    border-color: rgb(255, 247, 0);
}
#greet:hover{
    background-color: yellow;
    
}
#greet:active{
    background-color: greenyellow;
    box-shadow: 4px 0px 4px 0px;
}